// 主题色
$theme-color: #3eaf7c !default;

// 字体颜色
$text-color: (
    light: #2c3e50,
    dark: #9e9e9e,
) !default;

// 背景色
$bg-color: (
    light: #fff,
    dark: #0d1117,
) !default;

// 另一个浅背景色
$bg-color-secondary: (
    light: #f8f8f8,
    dark: #161b22,
) !default;

// 另一个更浅的背景色
$bg-color-tertiary: (
    light: #efeef4,
    dark: #21262c,
) !default;

// 边框颜色
$border-color: (
    light: #eaecef,
    dark: #30363d,
) !default;

// 元素阴影色
$box-shadow: (
    light: #f0f1f2,
    dark: #282a32,
) !default;

// 卡片阴影色
$card-shadow: (
    light: rgb(0 0 0 / 15%),
    dark: rgb(0 0 0 / 30%),
) !default;

// constants
$black: (
    light: #000,
    dark: #fff,
);
$dark-grey: (
    light: #666,
    dark: #999,
);
$light-grey: (
    light: #999,
    dark: #666,
);
$white: (
    light: #fff,
    dark: #000,
);
$grey3: (
    light: #333,
    dark: #bbb,
);
$grey12: (
    light: #bbb,
    dark: #333,
);



/* layout */
// 导航栏高度
$navbar-height: 3.75rem !default;

// 导航栏填充
$navbar-horizontal-padding: 1.5rem !default;
$navbar-vertical-padding: 0.7rem !default;
$navbar-mobile-height: 3.25rem !default;
$navbar-mobile-horizontal-padding: 1rem !default;
$navbar-mobile-vertical-padding: 0.5rem !default;

// 侧边栏宽度
$sidebar-width: 18rem !default;
$sidebar-mobile-width: 16rem !default;

// 主要内容的宽度
$content-width: 980px !default;
$home-page-width: 1160px !default;

// 普通文本上使用的字体
//$font-family: '"Microsoft YaHei", SimSun, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti' !default;
//
//// 标题上使用的字体
//$font-family-heading: '"Microsoft YaHei", SimSun, sans-serif, Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti' !default;
//
//// 代码上使用的字体
$font-family-mono: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace' !default;

$font-family: "Microsoft YaHei" !default;
$font-family-heading: "Microsoft YaHei" !default;

// 代码块中的行号宽度
$line-numbers-width: 2.5rem !default;

// 用于颜色的过渡
$color-transition: "0.25s ease" !default;
$transform-transition: "0.25s ease" !default;
